include README.md
include LICENSE
include AUTHORS
include pyproject.toml

# Include Pose2Sim resources
recursive-include Pose2Sim *.xml *.osim *.stl *.vtp *.npy *.onnx *.toml *.json *.yaml *.yml *.txt *.py

# Include model files (tracked via Git LFS)
recursive-include models *.py *.toml *.json *.yaml *.yml *.txt

# Include source code
recursive-include src *.py
